.card-button button {
  padding: 0.5rem 3rem;
  margin-top: 20px;
  font-size: 1.1rem;
}
.card-button {
  padding: 1rem;
}

.card-description {
  padding: 1rem;
}

.card-description span {
  padding-top: 15px;
  font-size: 1.1rem;
}

.card-img img {
  width: 260px;
}

.card-description p {
  font-size: 1.2rem;
}
